h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    background-color: #fcd0a1;
  }

  em {
    color: #5e4b56;
  }

  .edicao {
    font-size: 20px;
  }

  .diagramacao {
    font-size: 14px;
  }

  .manutencao {
    font-size: 16px;
  }

  .cozinhar {
    font-size: 18px;
  }